<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hua.mapper.lk.EmployeeMapper">
    <select id="findCount" resultType="java.lang.Integer">
        select count(1) from employee
    </select>
    
    <select id="findEmployee" resultType="com.hua.entity.Employee">
        select * from employee where id = #{id} and salary = #{salary}
    </select>

    <insert id="insertEmployee">
        insert into employee(id,name,salary)
        values (#{id},#{name},#{salary});
    </insert>


</mapper>